<!DOCTYPE html>
<html>
  <head>
    {% include "header.html" %}
  </head>
<body>
  {% include "navbar.html" %}
  {% include "errors.html" %}
  <div class="row">
    <form action='/ajoutTimbre', method='POST'>
        <label for='name'>Nom du timbre :</label>
        <input type='text' name='name' />
        <label for='email'>Année d'édition :</label>
        <input type='text' name='email' />
        <input type='submit' value='Ajouter' />
    </form>
  </div>
  {% include "footer.html" %}
</body>
</html>
