<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/semantic.css') }}">
</head>
<body>
  {% include "navbar.html" %}
  <div class="row">
    <form action="/login" method='POST'>
      <label for='email'>Email :</label>
      <input type='text' name='email' />
      <label for='password'>Password :</label>
      <input type='text' name='password' />
      <input type='submit' value='Log in !' />
  </form>
  </div>
  {% include "footer.html" %}
</body>
</html>
