<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>
<body>
  {% include "navbar.html" %}
  {% include "errors.html" %}

  <div class="ui two column centered grid" style="margin-top: 2em;margin-bottom: 0.5em">
    <div class="ui center aligned segment" style="width: content;">
      <form class="ui form" action="/searchStamp" method='POST'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="equal width fields">
          <div class="field">
            <label>Minimum year</label>
            <input name="min_year" type="text" placeholder="Min. Year">
          </div>
          <div class="field">
            <label>Maximum year</label>
            <input name="max_year" type="text" placeholder="Max. Year">
          </div>
          <div class="field">
            <label>Name contains</label>
            <input name="name" type="text" placeholder="Name contains">
          </div>
          </div>
          <div class="ui horizontal divider">
          <button class="ui orange submit button" type="submit">Search</button>
          </div>
      </form>

      <div class="ui divided items">

        {% for timbre in timbres %}
        <div class="link item">
          <div class="ui tiny image">
            <img src="{{ url_for('static', filename=timbre.fileName) }}">
          </div>
          <div class="content">
            <a class="header">{{ timbre.name }}</a>
            <div class="description">
              Un timbre de l'année {{ timbre.year }} 
            </div>
          </div>
          <div class="content">
            {% if timbre.owner!=current_user.id %} 
              <a href="{{ '/exchange?wanted='+ timbre.id|string}}">
                <span data-tooltip="Send exchange proposition" data-position="bottom center">
                  <i class="plus square icon"></i>
                </span>
              </a>
              {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include "footer.html" %}
</body>
</html>
