<!DOCTYPE html>
<html>
  <head>
    {% include "header.html" %}
  </head>
<body>
  {% include "navbar.html" %}
  <div class="row">
    <form action='/signup', method='POST'>
        <label for='name'>Name :</label>
        <input type='text' name='name' />
        <label for='email'>Email :</label>
        <input type='text' name='email' />
        <label for='password'>Password :</label>
        <input type='text' name='password' />
        <input type='submit' value='Log in !' />
    </form>
  </div>
</body>
</html>
